
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8475c4;
}

.container-adjustment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
}

.lefted-image, .Righted-image {
    display: inline-block;
}

#navbar {
    background: #333;
    overflow: hidden;
}

#navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ffffff;
    color: black;
}

h1 {
    text-align: center;
    margin-top: 20px;
}


.card-board {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
}

.card-board:hover {
    transform: scale(1.05);
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.image-button img {

    border-radius: 8px;
    margin-bottom: 16px;
}

.card-content h2 {
    margin: 0;
    font-size: 24px;
}

.card-content p {
    margin: 8px 0 0;
    font-size: 16px;
}
