<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE TITLE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container-adjustment">
        <img src="{{ url_for('static', filename='images/amg2.jpg') }}" alt="amg logo" width="250" height="200" class="lefted-image">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Mercedes-Benz logo" width="100" height="100" class="Righted-image">
    </div>

    <div id="navbar">
        <a href="#home">Home</a>
        <a href="#about us">Our History</a>
        <a href="#contact us">Contact Us</a>
    </div>

    <h1>Automotive Checksheet</h1>

    <!---CARD BOARD FUNCTIONING AS BUTTON -->
    <button class="card-board" onclick="redirectToPage('{{ url_for('w214_menu') }}');">
        <img src="{{ url_for('static', filename='images/w214.png') }}" alt="w214_click">
        <div class="card-content">
            <h2><b>W214</b></h2>
            <p>E350E/E200</p>
        </div>
    </button>

    <button class="card-board" onclick="redirectToPage('{{ url_for('c254_menu') }}');">
        <img src="{{ url_for('static', filename='images/c254.png') }}" alt="c254_click">
        <div class="card-content">
            <h2><b>C254</b></h2>
            <p>GLC350E/GLC63</p>
        </div>
    </button>


    <button class="card-board" onclick="redirectToPage('{{ url_for('v177_menu') }}');">
        <img src="{{ url_for('static', filename='images/v177.png') }}" alt="v177_click">
        <div class="card-content">
            <h2><b>V177</b></h2>
            <p>A200/A35/A200</p>
        </div>
    </button>

   
    
    
    
    <script>
        function redirectToPage(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>
